<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title></title>
        <script type="text/javascript" src="/assets/javascripts/jquery-1.9.0.min.js"></script>
        <script type="text/javascript" src="/assets/javascripts/xiuxiu.js"></script>
        <script type="text/javascript" src="/assets/javascripts/upload.js?v=22222333333333"></script>
    </head>
    <body>
        <div style="width:630px;height: 440px;margin: 0 auto;">
            <p id="swfContainer"></p>
        </div>
        <!--<form action="@routes.Application.upload" method="post" enctype="multipart/form-data">
            <input type="text" id="userId" name="userId" value="11228"/>
            <input type="file" id="Filedata" name="Filedata"/>
            <input type="text" name="filetype" value="avatar"/>
            <input type="submit" value="提交"/>
        </form>-->
    </body>
</html>